<section class="buying-options">
    <ul>
        <li>
            <img src="{{listValues.listEntry1.img}}"/>{{listValues.listEntry1.label}}
        </li>
        <li>
            <img src="{{listValues.listEntry2.img}}"/>{{listValues.listEntry2.label}}
        </li>
        <li>
            <img src="{{listValues.listEntry3.img}}"/>{{listValues.listEntry2.label}}
        </li>
    </ul>
</section>