<div class="review-fulfilment-details">
    <div class="row" >
        <div class="span4">
            <div class="payment-details">
                <header class="billing-header-text" >Payment Details</header>
                <div class="filter">
                    <div class="selected-credit-card">
                        <span class="text">{{selected.cardType}} ending in {{selected.lastFourDigits}}</span>
                        <b class="selected-credit-card-arrow"></b>
                        <div class="options">
                            {{#each customer.wallet.cards}}
                                <div class="opt" cardid="{{lastFourDigits}}" selected="{{selected}}">{{cardType}} ending in {{lastFourDigits}}</div>
                            {{/each }}
                        </div>
                    </div>
                </div>

                <label class="address-label">
                    Billing Address
                </label>
                <div class="billing-address-text">
                    {{customer.name.first}} {{customer.name.last}}<br>
                    {{selected.billingAddress.streetNumber}} {{selected.billingAddress.streetName}} <br>
                    {{selected.billingAddress.city}} {{selected.billingAddress.state}}, {{selected.billingAddress.zipCode}} <br>
                    {{selected.billingAddress.country}}
                </div>
            </div>
        </div>
        <div class="vertical-separator fulfilment"></div>
        <div class="span4">
            <div class="shipping">
                <header class="shipping-header-text">Shipping <span>(Multiple Addresses?)</span></header>
                <div class="shipping-method">
                    Standard
                </div>
                <label class="address-label">
                    Shipping Address
                </label>
                <div class="billing-address-text">
                    {{customer.name.first}} {{customer.name.last}}<br>
                    {{customer.addressList.[0].streetNumber}} {{customer.addressList.[0].streetName}} <br>
                    {{customer.addressList.[0].city}} {{customer.addressList.[0].state}}, {{customer.addressList.[0].zipCode}} <br>
                    {{customer.addressList.[0].country}}
                </div>
            </div>
        </div>
        <div class="vertical-separator fulfilment"></div>
        <div class="span3">
            <div class="delivery-date">
                <header class="delivery-date-text">Delivery Date</header>
                <div class="date">April 12, 2013 </div>
                <div class="delivery-date-notice"></div>
            </div>
        </div>
    </div>
</div>